<div *ngIf="!isLoading" class="loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="isLoading" class="populars-container">
  <p class="populars-text">Populars Film</p>
</div>

<div *ngIf="isLoading" class="popular_film">
  <div class="one_popular_film" *ngFor="let movie of movie.results">
    <div class="movieImg"><img [src]="'https://image.tmdb.org/t/p/original' + movie.poster_path" alt="{{movie.id}}">
    </div>
    <a class="popular_film_text" routerLink="movies/{{movie.id}}">{{movie.title}}</a>
  </div>
</div>
