.movieDetails {
  width: 100%;
  height: 600px;
  background-size: cover;
}

.movieDetails-container {
  width: 1300px;
  height: 600px;
  margin: 0 auto;
  display: flex;
}

.movieDetails-logo {
  width: 350px;
  height: 600px;
  align-items: center;
  display: flex;
}

.movieDetails-photo {
  width: 100%;
}

.movieDetails-info {
  width: 700px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.movieDetails-genre {
  color: white;
  margin-top: 10px;
  font-size: 20px;
}

p {
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

h1 {
  color: white;
}

.movieDetails-info-vote_average {
  width: 45px;
  height: 45px;
  background: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.movieDetails-video {
  width: 100%;
  height: 600px;
  display: flex;
}

.movieDetails-trailer {
  margin-top: 20px;
  width: 100%;
  height: 600px;
  border: none;
}

.movieDetails-videoWrapper {
  width: 1300px;
  height: 600px;
  margin: 0 auto;
}

.movieInfo-button {
}

