<div class="movieDetails" [style]="backgroundImg(movie.backdrop_path)">
  <div class="movieDetails-container">
    <div class="movieDetails-logo">
      <img class="movieDetails-photo" src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="">
    </div>
    <div class="movieDetails-info">
      <div class="movieDetails-infoContainer">
        <h1>{{movie.title}} ({{movie.release_date}})</h1>
        <p>Language: {{movie.original_language}}</p>
        <p>Popularity: {{movie.popularity}}</p>
        <p>Vote count: {{movie.vote_count}}</p>
        <div class="movieDetails-genre">
          Genre:
          <ul *ngFor="let genre of movie.genres">
            <li>{{genre.name}}</li>
          </ul>
        </div>
        <p class="movieDetails-info-vote_average">{{movie.vote_average}}</p>
        <p>Overview: {{movie.overview}}</p>
        <div class="buttonLike" *ngIf="!likeFilm()">
          <button style="background: none " mat-fab [disabled]="likeFilm()" (click)="addToLike(movie)"
                  class="movieInfo-button">
            <mat-icon color="warn" style="font-size: 50px">favorite_border</mat-icon>
          </button>
        </div>
        <div class="xxx" *ngIf="likeFilm()">
          <button style="background: none "
                  mat-fab [disabled]="likeFilm()" (click)="addToLike(movie)"
                  class="movieInfo-button">
            <mat-icon color="accent" style="font-size: 50px">favorite</mat-icon>
          </button>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="movieDetails-video">
  <div class="movieDetails-videoWrapper">

    <iframe class="movieDetails-trailer" width="560" height="315" [src]="movieVideo(video.results[0].key)"
            allowfullscreen></iframe>
  </div>
</div>



