<div class="search">
  <form [formGroup]="myFormGroup" (input)="search()">
    <input class="searchInput" type="text" [formControl]="searchControl" placeholder="Search">
  </form>
</div>


<div *ngIf="!isLoading" class="loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="isLoading" class="movieInfoContainer">
  <app-movie *ngFor="let mv of movies.results" [movie]="mv"></app-movie>
</div>
<div *ngIf="isLoading" class="movieButtonContainer">
  <button class="movieButton" (click)="last(1)" [disabled]="movies.page===1">first</button>
  <button class="movieButton" (click)="previous(1)" [disabled]="movies.page===1">Previous</button>

  <p class="movieButtonPage">{{movies.page}}</p>

  <button class="movieButton" (click)="next(1)" [disabled]="movies.page===movies.total_pages">Next</button>
  <button class="movieButton" (click)="end(1)" [disabled]="movies.page===movies.total_pages">end</button>
</div>

