.movieInfoContainer {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movieButton {
  width: 80px;
  background: black;
  color: white;
  border-radius: 10px;
  margin: 0 2px 0 2px;
}

.movieButtonContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.movieButtonPage {
  margin: 0 10px 0 10px;
  font-size: 20px;
  font-weight: 650;
}

.loading {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  border-radius: 10px;
  height: 30px;
  width: 500px;
}
